/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Style the current time display */
#currentTime {
  margin-top: 20px;
  font-weight: bold;
}

/* Style the activity list */
#activityList {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  border: 2px solid #333;
  border-radius: 5px;
}

/* Style each activity item */
#activityList li {
  margin: 5px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #e1d6d6;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

/* Style for block list items */
.blockList {
  background-color: aqua;
  font-size: 15px;
  list-style: none;
  margin: 2px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
